# Configuramos varios tipos archivos a la vez que se guardarán en la cache
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)(\.gz)?$">
  # Así mismo, establecemos la fecha que se eliminarán los archivos de la cache
  Header set Expires "Thu, 30 Apr 2020 20:00:00 GMT"
</FilesMatch>

# Configurando un solo tipo de archivo a la vez
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
</IfModule>