/*!
 * Template Marbot 1.0 
 * By @cahuayamarcial - http://marbot.bo - @marbot.bo
 */
body {
	line-height: 1;
	overflow-x: hidden;
	background: #f1f6fd;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	color: #05074e;
}

h2{
	font-size: 2.5rem;
}

h6{
	font-weight: 700;
}

p{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 17px;
	color: #718096;
	line-height: 1.7;
}
a {
    outline:none;
	color: inherit;
}

a:hover {
    color: #0029a3;
    text-decoration: none;
}



html * {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.container-m {
	max-width: 1024px;
	margin: 0 auto !important;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}


/*-------------------------------------------------------------------
 ------------------------------ Navbar-------------------------------
 -------------------------------------------------------------------*/

.navbar {
	font-family: 'Nunito Sans', sans-serif;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: transparent !important;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

.navbar .navbar-brand {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	color: #959597 !important;
	vertical-align: middle;
}

.navbar .navbar-brand img {
	vertical-align: middle;
	margin-right: 0.3em;
}

.navbar .navbar-toggler {
	border: none;
}


.navbar span.navbar-toggler-icon::before {
	outline: none;
}

.navbar .navbar-toggler:focus {
	outline: none;
}

.navbar-nav {
	text-align: center;
	margin-top: 15px;
	background-color: transparent;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}

.navbar-nav .nav-item {
	margin-right: 0;
	margin-top: 1.5rem;
	font-size: 0.85rem;
	font-weight: 400;
	text-transform: capitalize;
}

.navbar-nav .nav-item .nav-link {
	color: #05074e;
	font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	position: relative;
	color: #ff214f;
	box-shadow: 0 3px 0 #ff214fb8
}

.active .nav-link {
	position: relative;
	color: #ff214f!important;
	box-shadow: 0 3px 0 #ff214fb8
}

/*-------------------------------------------------------------------
 --------------------------- Menu Effect ----------------------------
 -------------------------------------------------------------------*/

#nav-marbot-hamburger {
	width: 30px;
	height: 25px;
	position: relative;
	margin: 5px 0px 0px 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-marbot-hamburger span {
	display: block;
	position: absolute;
	height: 2px;
	width: 50%;
	background: #000;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-marbot-hamburger.open span {
	margin-left: 3px;
	margin-top: -4px;
}

#nav-marbot-hamburger span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
}

#nav-marbot-hamburger span:nth-child(odd) {
	left: 0px;
	border-radius: 9px 0 0 9px;
}

#nav-marbot-hamburger span:nth-child(1),
#nav-marbot-hamburger span:nth-child(2) {
	top: 0px;
}

#nav-marbot-hamburger span:nth-child(3),
#nav-marbot-hamburger span:nth-child(4) {
	top: 10px;
}

#nav-marbot-hamburger span:nth-child(5),
#nav-marbot-hamburger span:nth-child(6) {
	top: 20px;
}

#nav-marbot-hamburger.open span:nth-child(1),
#nav-marbot-hamburger.open span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-marbot-hamburger.open span:nth-child(2),
#nav-marbot-hamburger.open span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-marbot-hamburger.open span:nth-child(1) {
	left: 0px;
	top: 9px;
}

#nav-marbot-hamburger.open span:nth-child(2) {
	left: calc(50% - 5px);
	top: 9px;
}

#nav-marbot-hamburger.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
}

#nav-marbot-hamburger.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
}

#nav-marbot-hamburger.open span:nth-child(5) {
	left: 0px;
	top: 19px;
}

#nav-marbot-hamburger.open span:nth-child(6) {
	left: calc(50% - 5px);
	top: 19px;
}


/*-------------------------------------------------------------------
 ---------------------------- Paddings ------------------------------
 -------------------------------------------------------------------*/
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-25 {	padding: 25px; }
.p-30 {	padding: 30px; }
.p-35 {	padding: 35px; }

.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-25 { padding-top: 25px; }
.pt-30 { padding-top: 30px; }
.pt-35 { padding-top: 35px; }

.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }
.pb-30 { padding-bottom: 30px; }
.pb-35 { padding-bottom: 35px; }

.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-25 { padding-left: 25px; }
.pl-30 { padding-left: 30px; }
.pl-35 { padding-left: 35px; }

.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-25 { padding-right: 25px; }
.pr-30 { padding-right: 30px; }
.pr-35 { padding-right: 35px; }

.ptb-50{ padding-top: 50px;padding-bottom: 50px; }
.ptb-60{ padding-top: 60px;padding-bottom: 60px; }
.ptb-70{ padding-top: 70px;padding-bottom: 70px; }



/*-------------------------------------------------------------------
 ----------------------------- Margins ------------------------------
 -------------------------------------------------------------------*/
.m-0 { margin:0px;  }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }
.m-25 {	margin: 25px; }
.m-30 {	margin: 30px; }
.m-35 {	margin: 35px; }

.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }
.mt-35 { margin-top: 35px; }

.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }
.mb-35 { margin-bottom: 35px; }

.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }
.ml-35 { margin-left: 35px; }

.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }
.mr-35 { margin-right: 35px; }

.mtb-15{ margin-top: 15px;margin-bottom: 15px; }
.mtb-25{ margin-top: 25px;margin-bottom: 25px; }
.mtb-50{ margin-top: 50px;margin-bottom: 50px; }
.mtb-60{ margin-top: 60px;margin-bottom: 60px; }
.mtb-70{ margin-top: 70px;margin-bottom: 70px; }


/*-------------------------------------------------------------------
 ------------------------------ Otros -------------------------------
 -------------------------------------------------------------------*/

.tw-5 { font-weight: 500; }
.tw-6 { font-weight: 600; }
.tw-7 { font-weight: 700; }



.parallax {
	min-height: 100px;
	background: transparent;
}

img {
    max-width: 100%;
}

div.shape {
    left: 120px;
    position: absolute!important;
    right: 0;
    top: -89px;
    z-index: -1;
}


.navbar-nav .whatsapp .whats small {
    display: block;
    color: #8093a0;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
	text-align: left;
}
.navbar-nav .whatsapp .whats b {
    font-weight: 700;
    font-size: 24px;
}


.whatsapp{
	padding-left: 40px;
}



/* Extra small, small & medium devices (phones & landscape tablets) */
@media (max-width: 992px) {
	.whatsapp{
		display: none;
		padding-left: 0px;
	}
}

.info-whatsapp{
	width: 180px; 
	margin:0 auto;
	text-align: left;
}

.info-whatsapp span{
	font-size: 14px;
    font-weight: 600;
    color: #777777;
}
/*------------------------------------------------------------------
 --------------------------- Text colors ---------------------------
 ------------------------------------------------------------------*/

.text-dark {
	background: #05074e!important;
}

.text-primary {
	color: #ff214f!important;
}

.text-white {
	color: #fff!important
}
.text-white-light{
	color: rgba(255, 255, 255, 0.8)!important;
}


/*-------------------------------------------------------------------
 ---------------------------- Partials ------------------------------
 -------------------------------------------------------------------*/

.partial-home {
	position: absolute;
	top: 80px;
	opacity: .3;
}

.bg-pattern-1 {
    background-image: url(../images/bg-1.png);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}


/*------------------------------------------------------------------
 ---------------------------- Background ---------------------------
 ------------------------------------------------------------------*/
.theme-bg {
    background-color: #41228e;
}

.bg-dark{
	background: #05074e!important;
}




/*-------------------------------------------------------------------
 ----------------------------- Buttons ------------------------------
 -------------------------------------------------------------------*/

.btn-primary {
	color: #fff;
	background-color: #ff214f;
	border-color: #ff214f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e7024f;
    border-color: #e7024f;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #e7024f;
    border-color: #e7024f;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 86, 0.5);
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 86, 0.5);
}





/*-------------------------------------------------------------------
 ------------------------- Margin Buttons ---------------------------
 -------------------------------------------------------------------*/

.m-btn{
	display: inline-block;
    border: none;
    color: inherit;
    line-height: 1.5;
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    -moz-transition: ease-in-out all 0.55s;
    -o-transition: ease-in-out all 0.55s;
    -webkit-transition: ease-in-out all 0.55s;
    transition: ease-in-out all 0.55s;
    text-align: center;
    border: 1px solid transparent;
	background: transparent;
	border-radius: .25rem;
}
.m-btn-white {
	color: #fff;
	border: 2px solid #fff;
}

.m-btn-white:hover {
	color: #05074e;
	border: 2px solid #fff;
	background: #fff;
}


/*-------------------------------------------------------------------
 ------------------------- Responsive Menu --------------------------
 -------------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
	.navbar {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar .navbar-nav {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.navbar-nav {
		background-color: #FFFFFF;
	}
	.nav-white .nav-item .nav-link {
		color: #4957B8;
	}
}

/*-------------------------------------------------------------------
 --------------------------- Efect Navbar ---------------------------
 -------------------------------------------------------------------*/


.navbar.past-main {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgba(255, 255, 255, 0.99) !important;
	-webkit-box-shadow: 0 2px 3px 0 rgba(96, 96, 96, 0.1);
	-moz-box-shadow: 0 2px 3px 0 rgba(96, 96, 96, 0.1);
	box-shadow: 0 2px 3px 0 rgba(96, 96, 96, 0.1);
}
.navbar.effect-main {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar.past-main .navbar-brand {
	color: #4285f4 !important;
}
.nav-white.past-main .nav-item .nav-link {
	color: #05074e;
	font-weight: 500;
}
.navbar.past-main .nav-item .nav-link {
	font-weight: 600;
}
.nav-white.past-main .navbar-brand {
	color: #05074e;
}
.navbar.past-main span.navbar-toggler-icon {
	background-image: url("");
}
.nav-white.effect-main {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}



.marbot {
	padding: 100px 0 100px 0;
	background: #fff;
}

.marbot .marbot-content {
	text-align: left;
}

.marbot h2 {
	font-size: 46px;
	font-weight: 700;
	color: #05074e;
	letter-spacing: -1px;
}

.marbot p {
	font-size: 17px;
	font-weight: 500;
	color: #636477;
	line-height: 1.6;
	letter-spacing: 0;
}

p.small-text {
	font-size: 12px;
}

.align-center {
	-webkit-box-align: center!important;
	-webkit-align-items: center!important;
	-ms-flex-align: center!important;
	align-items: center!important;
}


.navbar-nav {
	margin-top: 0;
}
.navbar-nav .nav-item {
	margin-top: 0;
	margin-right: 15px;
	font-size: 0.95rem;
	font-weight: 400;
}

/*------------------------------------------------------------------
 --------------------------- Buttom WhatsApp -----------------------
 ------------------------------------------------------------------*/

.btn-whatsapp {
    position: fixed;
    right: 22px;
    bottom: 30px;
    height: auto;
    width: auto;
    background: #00ce78;
    padding: 12.5px;
    border-radius: 50px;
    z-index: 999;
}

/*------------------------------------------------------------------
 ----------------------------- Buttom Info -------------------------
 ------------------------------------------------------------------*/

.btn-information{
    position: fixed;
    right: 22px;
    bottom: 0px;
    height: auto;
    width: auto;
    background: #010149;
    padding: 10px 40px;
    border-radius: 5px 5px 0px 0px;
    z-index: 999;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-top: 3px solid #4646a9;
}


.box-shadow {
    box-shadow: 0 0 8px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.15);
    -ms-box-shadow: 0 0 8px rgba(0,0,0,.15);
    -o-box-shadow: 0 0 8px rgba(0,0,0,.15);
}


/*-------------------------------------------------------------------
 ---------------------------- Responsive ----------------------------
 -------------------------------------------------------------------*/


/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
	/* .marbot { background: green } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
	.marbot { background: orange; }
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
	.marbot { background: blue; }
}


/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
	.marbot { background: red; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
	.marbot { background: white; }
}




/* Extra small, small & medium devices (phones) */
@media (max-width: 768px) {
	.navbar-nav .nav-item {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 1.1rem;
		margin-right: 0px;
	}

	.navbar-light .navbar-nav .nav-link:focus,
	.navbar-light .navbar-nav .nav-link:hover {
		position: relative;
		color: #ff214f;
		box-shadow: 0 0px 0 #ff214fb8
	}
	.active .nav-link {
		position: relative;
		color: #ff214f!important;
		box-shadow: 0 0px 0 #ff214fb8
	}

	.marbot-content{
		text-align: center!important;
	}
	.rmb-15{
		margin-bottom: 15px!important;
	}
	.whatsapp{
		display: block;
	}
	.info-whatsapp{
		margin-top: 30px;
	}

	.btn-information{
		right: 0px;
		bottom: 0px;
		width: 100%;
		padding: 10px 40px;
		border-radius: 0px;
		color: #fff;
		text-align: center;
	}
}

/* Extra small, small & medium devices (phones & landscape tablets) */
@media (max-width: 992px) {
	.marbot {
		padding: 125px 0 100px 0;
	}
}